:root{
/*Colores */
    --blue-talento-tech:#002552;
    --blanco-talento-tech:azure;
    --negro-talento-tech:black;
/* Fuentes */
    --ms:0.5rem;    /*tamaño pequeño*/
    --md:1rem;      /*tamaño mediano*/
    --lg:2rem;      /*tamaño grande*/
}

.fondo-azul{
    background: var(--blue-talento-tech); /*fondo del navegador*/
}

.fondo-black{
    background: var(--negro-talento-tech);
}

.logo{
    /*Tmaño del logo que esta en el navegador*/
    width: 150px;
    height: auto;
    padding: 15px 0px 0px 20px;
}

.containerp1{
    display: flex;
    flex-direction: row
}

.foto1 img{
    width: 150px;
    height: 150px;
    padding: 15px 0px 0px 20px;
}
#mainHeader {
    /Posicionando el header para que siempre se muestre/
	height: 60px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
body{
    margin: 0;
    padding: 0;
    padding-top: 60px;
}
