:root{
/*Colores */
    --blue-talento-tech:#002552;
    --blanco-talento-tech:azure;
    --negro-talento-tech:black;
/* Fuentes */
    --ms:0.5rem;    /*tamaño pequeño*/
    --md:1rem;      /*tamaño mediano*/
    --lg:2rem;      /*tamaño grande*/
}

#mainHeader {
    /* /Posicionando el header para que siempre se muestre/ */
	height: 60px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

.fondo-azul{
    background: var(--blue-talento-tech); /*fondo del navegador*/
}

.fondo-black{
    background: var(--negro-talento-tech);
    color: var(--blanco-talento-tech);
}

.logo{
    /*Tmaño del logo que esta en el navegador*/
    width: 150px;
    height: auto;
    padding: 15px 0px 0px 20px;
}

.titulo-JJ{
    font-size: var(--lg);
    margin: 20px 0px 0px 0px;
}

.tamaño-JJ{
    /* width: 500px; */
    padding: 5px 100px;
    text-align: justify;
}

.socialimg-jj {
    padding: 0px;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 20px;
}

.perfil-JJ{
    width: 150px;
    height: auto;
    border-radius: 100px;
  }

  .nota-jj{
    margin: 0px 250px;
  }